

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&family=Young+Serif&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: hsl(30, 10%, 34%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.principal { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: auto;
    background-color: hsl(30, 54%, 90%);
}
.container {
    background-color: hsl(0, 0%,100%);
    width: 60%;
    height: auto;
    border-radius: 20px;
    padding: 2%;
    margin: 5%;
    
}
.container .img img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.3px;

}
.encabezado {
    margin: 1%;
    padding: 20px 0;
    
}
.encabezado h1{
    color: hsl(24, 5%, 18%);
}
.encabezado p {
    padding: 20px 0 20px 0;
    font-family: 'Outfit', serif;
    font-style: normal;
    font-weight: 400;
}

.preparacion {
    font-weight: 400;
    background-color: hsl(330, 100%, 98%);
    padding: 30px;
    border-radius: 20px;
}
.resaltado {
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-style: normal;
}
.preparacion h4 {
    font-family: 'Outfit', serif;
    font-style: normal;
    color: hsl(332,51%,32%);
    font-weight: 600;
    font-size: 20px;
}
.preparacion ul {
    padding: 10px 20px;
}
.preparacion ul li {
    padding: 5px 0;
    font-family: 'Outfit', serif;
    font-style: normal;
}
.ingredientes {
    margin: 0 20px 0 20px;
    padding: 40px 5px;
    border-bottom: 1px solid rgb(169, 163, 163);
}
.ingredientes ul {
    padding-top: 20px;
    list-style: none;
}
.ingredientes ul li {
    position: relative;
    margin-left: 20px;
    padding: 10px 0 0 20px;
    font-family: 'Outfit', serif;
    font-style: normal;
    font-weight: 400;
}
.ingredientes ul li::before {
    content: "■";
    color: hsl(14, 45%, 36%);
    font-size: 10px;
    position: absolute;
    left: -20px;
}
.instrucciones {
    margin: 0 20px 0 20px;
    padding: 40px 5px;
    border-bottom: 1px solid rgb(169, 163, 163);
}
.instrucciones ol {
    padding-top: 20px;
}
.instrucciones ol li {
    margin-left: 20px;
    padding: 10px 0 0 20px ;
    font-family: 'Outfit', serif;
    font-style: normal;
    font-weight: 400;
}
.instrucciones ol li::marker {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}
.nutricion {
    margin: 0 20px 0 20px;
    padding: 40px 5px;
}
.nutricion h2 {
    padding-bottom: 30px;
}
.nutricion p {
    padding-bottom: 20px;
    font-family: 'Outfit', serif;
    font-style: normal;
    font-weight: 400;
}
.nutricion table tr td {
    padding: 10px;
    padding-left: 30px;
    border-bottom: 1px solid rgb(169, 163, 163);
    font-family: 'Outfit', serif;
    font-style: normal;
    font-weight: 400;
}
table {
    width: 100%;
    margin: 10px;
    padding-left: 20px;
    border-collapse: collapse;
}
footer {
    background-color: #f1f1f1;
    text-align: center;
}

.nutricion table tr td b{
    color: hsl(14, 45%, 36%);
    font-family: 'Outfit', serif;
    font-style: normal;
    font-weight: 600;
}

footer .attribution { 
    display: inline-block;
    justify-content: center;
    font-size: 11px; 
    text-align: center; 
}
footer .attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 767px) {
    .principal {
        width: 100%;
        height: auto;
        border-radius: 0%;
        margin: 0%;
        padding: 0%;

    }
    .container {
        width: 100%;
        height: auto;
        border-radius: 0%;
        padding: 1%;
        margin: 0;
    }
    
    .container .img img {
        border-radius: 0%;
        padding: 0%;
        margin: 0;
    }
    .encabezado {
        margin: 1% 5% 0% 5%;
        padding: 20px 0;
    }
    .encabezado p {
        padding: 2,5% 2,5% 0 2,5%;
    }
    .preparacion {
        padding: 0 8% 0 8%;
    }
    .ingredientes ul li{
        font-size: 14px;
        padding-left: 8px;
    }

    }